<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><!--title--> | CodeTri Notes</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>
  <header>
    <h1>CodeTri Notes</h1>
    <p>Notes that don't fit a blog format.</p>
    <nav>
      <a href="/">Home</a>
      <a href="https://codetri.net">Portfolio</a>
    </nav>
  </header>

  <main>
    <main>
      <article>
        <h2><!--title--></h2>
        <h6>Published <code><!--date--></code></h6>
        <!--content-->
      </article>
  </main>
</body>
</html>
