<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="static/favicon.png">
  <title>CodeTri Notes</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <header>
    <h1>CodeTri Notes</h1>
    <p>Notes that don't fit a blog format.</p>
    <nav>
      <a class="current" href="/">Home</a>
      <a href="https://codetri.net">Portfolio</a>
    </nav>
  </header>

  <main>
    <ul>
      {% for note in notes -%}
      <li><a href="note/{{ note.url }}">{{ note.title }} ({{ format_datetime(note.date, date_format) }})</a></li>
      {% endfor -%}
    </ul>
  </main>

  <footer>
    <div>{{ current_year }} <a href="https://codetri.net">Caleb</a></div> |
    <div>Powered by <a href="https://simplecss.org/">Simple.css</a></div>
  </footer>
</body>
</html>
