{% from 'macros/render_logo.jinja2' import render_logo -%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="static/favicon.png">
  <title>{{ post.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <link rel="stylesheet" href="static/style.css">
  {% block css %}{% endblock -%}
</head>

<body>
  <header>
    {{ render_logo(site.logo) }}
    <h1 class="site-title">{{ site.title }}</h1>
    <p class="site-subtitle">{{ site.subtitle }}</p>
    {% include 'partials/navigation.jinja2' %}
  </header>

  <main>
    {% block content %}{% endblock -%}
  </main>

  {% include 'partials/footer.jinja2' %}
  {% block js %}{% endblock -%}
</body>
</html>
